body
{
    text-align: center;
    color: lightseagreen;
    font-family: cursive;
    font-style: italic;
    font-size: 10px;
}

#app {
    background-color:coral;
    border-color: palevioletred;
}

#mycarousel
{
    background-color:palegoldenrod;
}


